@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.content {
    padding: 30px 0px;
    margin: 0px;
    text-align: center;
    background: #43CC02;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
 }

main {
    max-width: 46rem;
    padding: 2rem;
    margin: auto;
} /* see https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41 */

body {
    margin:0;
}

#form {
    margin: 40px 0;
    background: #43CC02;
    border: 2px solid rgb(130, 130, 130);
    font-family: 'Inter', sans-serif;

    padding: 10px;
    display: flex;
    align-content: center;
}

/* spacing for all elements in form */
#form > * {
    margin: 0px 10px;
    height: 28px;
}

/* the gps button */
#gps {
    width: 32px;
    height: 32px;
}

/*the div of hour forecast slide */
#hourslide-div {
    flex-flow: column;
    display: flex;
    width: 160px;
    text-align: center;
}

p {
    margin: 0px;
    width: auto;
}

#unitLabel {
    height: auto;
}

/* suggestions */
.suggestions {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.suggestions ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions ul.has-suggestions {
    display: block;
}

.suggestions ul li {
    padding: .2rem;
}

.suggestions ul li:hover {
    background-color: aliceblue;
}

/* results */

#res {
    
    background-color: lightgreen;
    border: 2px solid rgb(130, 130, 130);


}

/*
margin: 40px 0px;
    padding: 10px;
    border-radius: 5px;

    font-family: 'Inter', sans-serif;
*/