@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.content {
    padding: 30px 0px;
    margin: 0px;
    text-align: center;
    background: #43CC02;
    font-style: normal;
    font-weight: 400;
 }

main {
    max-width: 46rem;
    padding: 2rem;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: white;
} /* see https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41 */

body {
    margin:0;
}

#header {
    margin-bottom: 0px !important;
    border-bottom: 5px;
}

#form {
    margin: 30px 0;
    background: #43CC02;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 5px;
    font-family: inherit;

    padding: 14px;
    display: flex;
    align-content: center;
}

/* spacing for all elements in form */
#form > * {
    margin: 0px 10px;
}

/* the gps button */
#gps {
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
}

#input {
    color: black;
}

/*the div of hour forecast slide */
#hourslide-div {
    flex-flow: column;
    display: flex;
    width: 160px;
    text-align: center;
}

p {
    margin: 0px;
    width: auto;
}

#unitLabel {
    margin: 0;
    height: auto;
}

/* suggestions */
.suggestions {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.suggestions ul {
    display: none;
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    background-color: white;
    color: black;
    z-index: 500;
    position: relative;
}

.suggestions ul.has-suggestions {
    display: block;
}

.suggestions ul li {
    padding: .2rem;
}

.suggestions ul li:hover {
    background-color: aliceblue;
}

/* results */

#res { 
    background-color: lightgreen !important;
    border: 2px solid rgb(130, 130, 130);
}

#status {
    margin-bottom: 0px !important;
    background-color: inherit;
    text-shadow: 5px;
}

#icon {
    height: 100px;
    background-color: lightblue;
    border: 1px solid rgb(130, 130, 130);
}

.detail {
    margin: 20px 0px;
    font-size: 18px;
    
}

@media only screen and (max-width: 768px) {
    
    #inputdiv {
        width: 180px;
    }

    .image {
        margin: auto;
    }

    .detail {
        text-align: center;
    }

    .column {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #form {
        display: block;
        align-content: center;
    }

    #status {
        padding: 10px;
    }

}

